<section class="grid-list">
{{#if grid_title}}
	<h2>{{grid_title}}</h2>
{{/if}}


	<aside class="filters">
		<form>
		<fieldset class="personal">
			<div class="radio-group icon-buttons">
				<label class="input-radio" for="filter-gender-female">
					<input id="filter-gender-female" name="filter--gender" type="radio" value="female">
					<span class="icon icon-gender-female"></span>
					<span class="label">Female</span>
				</label>
				<label class="input-radio" for="filter-gender-male">
					<input id="filter-gender-male" name="filter--gender" type="radio" value="male">
					<span class="icon icon-gender-male"></span>
					<span class="label">Male</span>
				</label>
			</div>
			<div class="checkbox-group input-buttons">
				<label class="input-checkbox" for="filter-mobility-wheelchair">
					<input id="filter-mobility-wheelchair" name="filter--mobility" type="checkbox" value="wheelchair">
					<span class="icon icon-checkmark"></span>
					<span class="label">I use a wheelchair</span>
				</label>
			</div>
		</fieldset>
	
	{{#if show_filters}}
		<fieldset class="categories">

			<div class="checkbox-group input-buttons categories-toggle">
				<label class="checkbox" for="show-categories">
					<input id="show-categories" name="show-categories" type="checkbox" value="true">
					<span class="icon icon-plus"></span>
					<span class="label">
						Filter by category
						<span id="show-categories-count"></span>
					</span>
					
				</label>
			</div>

			<div class="checkbox-group input-buttons categories">
				<label class="checkbox" for="filter-category-self-care">
					<input id="filter-category-self-care" name="filter--category" type="checkbox" value="self-care">
					<span class="label">Self care</span>
				</label>
				<label class="checkbox" for="filter-category-travel">
					<input id="filter-category-travel" name="filter--category" type="checkbox" value="travel">
					<span class="label">Travel</span>
				</label>
				<label class="checkbox" for="filter-category-children">
					<input id="filter-category-children" name="filter--category" type="checkbox" value="children">
					<span class="label">Children</span>
				</label>
				<label class="checkbox" for="filter-category-tools">
					<input id="filter-category-tools" name="filter--category" type="checkbox" value="tools">
					<span class="label">Tools</span>
				</label>
				<label class="checkbox" for="filter-category-exercise">
					<input id="filter-category-exercise" name="filter--category" type="checkbox" value="exercise">
					<span class="label">Exercise</span>
				</label>
				<label class="checkbox" for="filter-category-catheters">
					<input id="filter-category-catheters" name="filter--category" type="checkbox" value="catheters">
					<span class="label">Catheters</span>
				</label>
			</div>

			<button id="filter-category-reset" class="link">Reset filters</button>
		</fieldset>
	{{/if}}
		</form>
	</aside>
	
	<ul class="list-items"> 
	{{#eachProperty articles}}
		<li class="
			type-{{value.type}} 

			{{#each value.filter.gender}}
				filter--gender--{{hyphenate this}}
			{{/each}}
			{{#each value.filter.mobility}}
				filter--mobility--{{hyphenate this}}
			{{/each}}
			{{#each value.filter.category}}
				filter--category--{{hyphenate this}}
			{{/each}}
		">
			{{#is value.type "survey"}}
				{{partial 'grid_list_item_survey' value}}
			{{else}}
				{{#is value.type "cta"}}
					{{partial 'grid_list_item_cta' value}}
				{{else}}
					{{partial 'grid_list_item' value}}
				{{/is}}
			{{/is}}
		</li>
	{{/eachProperty}}
	</ul>
</section>