<div class="elm-image">
	{{#is type 'video'}}
		<!-- <span class="icon icon-media-play"></span> -->
	{{/is}}
	<a href="{{default link 'article.html'}}"><img src="{{thumb}}"></a>
</div>

<div class="elm-content">
	<div class="category">{{filter.category}}</div>
	<h2>{{title}}</h2>
	<p>{{teaser}}</p>
	<a href="{{default link 'article.html'}}" class="more-link">
		Read more
		<span class="icon"></span>
	</a>
</div>