<section class="grid-list">
{{#if grid_title}}
	<h2>{{grid_title}}</h2>
{{/if}}

{{#if show_filters}}
	<aside class="filters">
		filters
	</aside>
{{/if}}
	
	<ul class="list-items"> 
	{{#eachProperty articles}}
		<li class="
			type-{{value.type}} 
		{{#each value.category}}
			filter--category--{{hyphenate this}} 
		{{/each}}
		{{#each value.gender}}
			filter--gender--{{hyphenate this}}
		{{/each}}
		">
			{{#is value.type "survey"}}
				{{partial 'grid_list_item_survey' value}}
			{{else}}
				{{#is value.type "cta"}}
					{{partial 'grid_list_item_cta' value}}
				{{else}}
					{{partial 'grid_list_item' value}}
				{{/is}}
			{{/is}}
		</li>
	{{/eachProperty}}
	</ul>
</section>