<div class="elm-content">
	<h2>{{title}}</h2>
	<form>

	{{#eachProperty options}}
		<label for="survey_{{key}}">
			<input type="radio" name="survey" id="survey_{{key}}" value="{{key}}">
			{{this.value}}
		</label>
	{{/eachProperty}}

	</form>
</div>