{{#if active}}
<li class="active">
{{else}}
<li>
{{/if}}
	{{#if link}}
		<a class="nav-title" href="{{link}}">{{title}}</a>
	{{else}}
		<div class="nav-title">{{title}}</div>
	{{/if}}
	{{#if teaser}}
	<div class="teaser">
		<h2>{{title}}</h2>
		<p>{{teaser}}</p>
		<a class="more-link" href="{{link}}"><span>Read more </span><span class="icon"></span></a>
	</div>
	{{/if}}
	{{#if sections}}
	<ul>
	{{#each sections}}
		{{>nav_item this}}
	{{/each}}
	</ul>
	{{/if}}
</li> 