<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<!-- build:css assets/css/default.min.css -->
	<link rel="stylesheet" href="{{assets}}/css/default.css">
	<!-- endbuild -->
</head>
<body class="page-{{page_type}}">

{{>header}}
{{ body }}

{{#isnt show_signup false}}
	{{>form_signup_step1}}
{{/isnt}}

{{>footer}}


<!-- build:js assets/js/scripts.min.js -->
<script src="{{assets}}/js/libs/jquery-1.11.1.min.js"></script>
<script src="{{assets}}/js/libs/jquery.flexslider-min.js"></script>
<script src="{{assets}}/js/libs/jquery.magnific-min.js"></script>
<script src="{{assets}}/js/libs/dropkick/dropkick.js"></script>
<script src="{{assets}}/js/main.js"></script>
<!-- endbuild -->

</body>
</html>